---
import Layout from "../layouts/Layout.astro";
import { createTrpcClient } from "../ts/trpcClient";

// Call tRPC from server side
console.log({origin: Astro.url.origin})
const client = createTrpcClient(Astro.url.origin);
const userId = await client.createUser.mutate({
	name: "Ben",
	bio: "gardener",
});
const user = await client.getUserById.query(userId);
const users = await client.getUsers.query();
console.log({users});
// Logged server-side (in cloudflare)
console.log({ user });
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Generated server-side: {user.name}</h1>
		<h2>User bio: {user.bio}</h2>
		<h1 class="user2"></h1>
		<h2 class="user2-bio"></h2>
	</main>
	<script>
		// Call tRPC from client side
		import { createTrpcClient } from "../ts/trpcClient";
		console.log(`TRPC to origin: ${window.location.origin}`)
		const client = createTrpcClient(window.location.origin)

		const userId = await client.createUser.mutate({
			name: "Anonymous",
			bio: "Interwebs",
		});
		const user = await client.getUserById.query(userId)
		// Logged client-side (browser console).
		console.log({ user });

		document.querySelector("h1.user2")!.textContent = `Generated client-side: ${user.name}`;
		if (user.bio) {
			document.querySelector("h2.user2-bio")!.textContent = `User bio: ${user.bio}`;
		}
	</script>
</Layout>